p {
    margin: 5px;
  }

.Single-item{
    /* border: 1px solid rgb(173, 173, 173); */
    margin:1vh;
    min-width: 12vw;
    /* max-width: 15vw; */
    min-height: 25vh;
    max-height: 45vh;
    width: fit-content;
    display: inline-block;
    overflow: scroll;
    border-radius: 2vh;
    background-color: white;
    /* box-shadow:2px 4px 4px 3px rgb(145, 144, 144); */
    /* box-shadow:4px 6px 7px 4px rgb(223, 171, 2); */
    transition: box-shadow 200ms ease-in;
}

.Single-item:hover{
    /* box-shadow:4px 6px 7px 4px rgb(24, 24, 24); */
    box-shadow:2px 5px 5px 4px rgb(145, 144, 144);
}

.Item-image{
    height: 24vh;
    min-width: 12vw;
    /* min-width: 20vw; */
    object-fit: cover;
    /* user-drag: none;  */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.Item-title{
    font-size: 1em;
}

.price{
    font-weight: bolder;
    font-size: .8em;
    color: rgb(255, 255, 255);
    border-radius: 1em;
    padding:0.3em 0.6em;
    background-color: rgb(82, 161, 3);
}
.Decrement-button{
    outline: none;
    border: none;
    border-radius: 1em;
    font-size: 1.5em;
    margin-right: 1em;
    background-color: rgba(231, 0, 0, 0.329);
}
.Decrement-button:hover{
    background-color: rgba(231, 0, 0, 0.678);
    cursor: pointer;
}
.Increment-button{
    outline: none;
    border: none;
    font-size: 1.5em;
    border-radius: 0.4em;
    /* margin-left: 1em; */
    background-color: rgba(0, 196, 10, 0.329);
}
.Increment-button:hover{
    background-color: rgba(0, 196, 10, 0.685);
    cursor: pointer;
    /* padding:1em; */
}