.App {
  /* color: antiquewhite; */
  text-align: center;
}

.App-header {
  background-color: #000000;
  height: 10vh;
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between;
}


.App-body{
  padding-top:10vh;
  /* background-image: url(./media/backgroundImage.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fdfdfd;
  /* background-attachment: fixed; */
  height: 100vh;
}



/* ------- Side bar Buttons ------- */

.Menu-button{
  height: 4vh;
  width: 5vh;
  top: 0;
  margin-left: 10px;
  border-radius: 1vh;
  float: left;
  transition: box-shadow 200ms ease-in;
}
.Menu-button:hover{
  cursor: pointer;
  box-shadow:4px 6px 7px 4px rgb(202, 202, 200);
}
.Cart-button{
  height: 4vh;
  top: 0;
  margin-right: 10px;
  /* border: 2px solid rgb(214, 0, 0); */
  border-radius: 1vh;
  transition: box-shadow 200ms ease-in;
  /* image-shadow:5px 10px 10px 2px rgb(202, 202, 200); */
}
.Cart-button:hover{
  cursor: pointer;
  box-shadow:4px 6px 7px 4px rgb(202, 202, 200);
}

/* ^^^^^^^^^^^^^^ Side bar Buttons ^^^^^^^^^^^^^^ */