@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
.App {
  /* color: antiquewhite; */
  text-align: center;
  /* outline: none !important; */
}

html *
{
  outline: none !important;
   font-family: 'Syne', sans-serif !important ;
   overscroll-behavior-y: none;
}

img{
  /* user-drag: none;  */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.App-header {
  background-color: #045701;
  height: 10vh;
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between;
  transition:  background-color 200ms ease-in-out;
  z-index: 200;
}

.transparent{
  background-color: #0457019d;
}

.App-body{
  padding-top:10vh;
  /* background-image: url(./media/backgroundImage.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e4e4e4;
  /* background-attachment: fixed; */
  height: 100%;
  min-height: 100vh;
  padding-bottom: 10%;
}

.Items-Count{
  font-size: .5em;
  padding: 5px 10px;
  top: 5vh;
  right: 2.3vw;
  margin-bottom: 10vh;
  background-color: rgb(224, 15, 15);
  position: absolute;
  z-index: 300;
  border-radius: 2em;
  cursor: pointer;
}

/* ------- Side bar Buttons ------- */

.Menu-button{
  height: 4vh;
  width: 5vh;
  top: 0;
  margin-left: 10px;
  border-radius: 1vh;
  float: left;
  transition: box-shadow 200ms ease-in;
}
.Menu-button:hover{
  cursor: pointer;
  box-shadow:4px 6px 7px 4px rgb(46, 45, 45);
}
.Cart-button{
  height: 4vh;
  top: 0;
  margin-right: 10px;
  /* border: 2px solid rgb(214, 0, 0); */
  border-radius: 1vh;
  transition: box-shadow 200ms ease-in;
  /* image-shadow:5px 10px 10px 2px rgb(202, 202, 200); */
}
.Cart-button:hover{
  cursor: pointer;
  box-shadow:4px 6px 7px 4px rgb(46, 45, 45);
}

/* ^^^^^^^^^^^^^^ Side bar Buttons ^^^^^^^^^^^^^^ */