.search_location{
    width: 25vw;
    height: 2em;
    float: left;
    /* border: 1px solid gray; */
    margin: 1em;
    margin-top: 2em;
    text-align: center;
    border-radius: 0.5em;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(78, 78, 78);
}

.search-box{
  width: 100%;
  float: left;
}

.search_location:hover{
    box-shadow:2px 5px 5px 4px rgb(212, 212, 212);
}

.Address-form{
    /* border: 1px solid gray; */
    margin-top: 30px;
    border-radius: 1em;
    overflow: hidden;
    padding-bottom: 1em;
    background-color: rgb(231, 230, 228);
}

.label {
    text-align: center;
    font-weight: bold;
    width: 100px;
    color: #303030;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }

  .label1 {
    text-align: center;
    font-weight: bold;
    width: 50px;
    color: #303030;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }

  #address {
    /* border: 1px solid #000090; */
    /* background-color: #fdfdfd; */
    width: 100%;
    /* height: 20vh; */
    padding-right: 3px;
  } 
  
  #address td {
    font-size: 1em;
    padding-top: 10px;
    /* border: 1px solid red; */
  }
  
    
  .field {
    width: 99%;
    height: 2em;
    border-radius: 0.5em;
    border: 1px solid rgb(196, 195, 195);
    /* background-color: rgb(236, 233, 233); */
  }

  .Street-field{
    width: 90%;
    height: 2em;
    border-radius: 0.5em;
    border: 1px solid rgb(196, 195, 195);
  }
  
  .slimField {
    width: 80px;
  }

  .mediumField{
      width:30%;
  }
  
  .wideField {
    width: 200px;
  }

  .NameField{
      width: 200px;
  }

  .first-name{
      margin-left: 55px;
      width: 255px;
  }
  
  #locationField {
    height: 20px;
    margin-bottom: 2px;
  }
  
  input:focus {
      outline:none!important;
      border-color: rgb(0, 217, 255);
      box-shadow:0px 0px 2px 3px rgba(55, 168, 89, 0.705);
    }

.submit-button{
    border: 1px solid rgb(112, 110, 110);
    background-color: rgb(66, 66, 66);
    outline: none !important;
    padding:0.5em 2em;
    margin-top: 1em;
    border-radius: 1em;
    font-size: 1em;
    color: white;
    font-weight: 700;
    cursor: pointer;
    
  }

.submit-button:hover{
    box-shadow:2px 3px 6px 3px rgb(131, 129, 129);
}

.Error-message{
    font-size: medium;
    color: red;
}
